* {
  box-sizing: border-box;
}

.top-row,
main,
footer,
#about {
  width: 92%;
  margin: auto;
  max-width: 1300px;
}

hr {
  margin-top: 60px;
  height: 1px;
  border: 0 none;
  background-color: lightgray;
}

h1 {
  margin: 0px;
  padding: 25px;
}

h2 {
  padding: 40px;
}

h1,
h2 {
  color: darkred;
}

ul{
  list-style: none;
  padding: 0px;
  margin-bottom: 60px;
}

.nav-top li {
  
  background-color: white;
  margin: 10px 0px;
  font-weight: bold;
}

li a {
  padding: 15px;
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: darkred;
}

body {
  margin: 0px;
  font-family: 'Lexend Deca', sans-serif;
  text-align: center;
}

header {
  background-color: lightgray;
}

.profile-image {
  width: 60%;
}

.about-text,
.contact-text,
.project-desc {
  font-family: 'Noto Sans SC', sans-serif;
}

.about-text {
  margin-top: 30px;
  padding-bottom: 60px;
}

p {
  line-height: 25px;
}

.project-image {
  width: 100%;
  margin-bottom: 20px;
}

.project-desc {
  margin-bottom: 40px;;
}

#skills {
  margin-bottom: 60px;
}

em {
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: center;
}

.nav-bottom {
  display: none;
  
}

/*  Progress bar styling - https://www.lambdatest.com/blog/how-to-create-a-cross-browser-compatible-html-progress-bar/  */
/* IE and EDGE */
progress {
  /* RESETS */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;

  width: 100%;
  height: 20px;
  border-radius: 10px;
  background-color: lightgray;
  color: #36ACD0;
}
/* WEBKIT BROWSERS - CHROME, OPERA AND SAFARI */
progress::-webkit-progress-bar {
  background-color: lightgray;
  border-radius: 10px;
}
progress::-webkit-progress-value {
  background-color:#36ACD0;
  border-radius: 10px;
}
/* MOZILLA FIREFOX */
progress::-moz-progress-bar {
  background-color: #36ACD0;
  border-radius: 10px;
}
/* End of progress bar styling */

/* Styles for tablet screens */
@media only screen and (min-width: 768px) {
    body {
      font-size: 1.2rem;
    }

    .nav-top li {
      display: inline;
      background-color: lightgray;
      padding: 15px;
    }

    li a {
      display: inline;
      padding: 0;
    }
    
    #about {
      display: flex;
      flex-direction: row-reverse;
      width: 92%;
      margin: auto;
      padding-bottom: 60px;
      align-items: flex-start;
    }

    .about-text {
      text-align: justify;
      margin: 0 30px 0 0;
      padding: 0;
    }

    .profile-image {
      width: 40%;
      flex-shrink: 0;
    }

    #portfolio {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .portfolio-head {
      width: 100%;
    }

    .project {
      width: 48%;
      margin-bottom: 30px;
    }

    .project-image {
      margin-bottom: 0px;
    }

    #skills {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    .skill-head {
      text-align: left;
    }

    .contact-text {
      width: 80%;
      margin: auto;
      padding-bottom: 20px;
    }

    .back-to-top {
      display: none;
    }

    .nav-bottom {
      display: block;
      margin: 0px;
    }

    .nav-bottom ul {
      margin: 0px;
    }

    .nav-bottom li {
      display: inline;
      margin-left: 20px;
      font-weight: bold;
    }
  }

  /* Styles for desktop screens */
  @media only screen and (min-width: 1024px) {

    .top-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 92%;
      margin: auto;
      padding: 40px 0;
    }

    .top-row h1 {
      padding: 0px;
    }

    .nav-top {
      width: auto;
      margin: 0;
    }

    .nav-top ul {
      margin: 0px;
    }

    .nav-top li {
      padding: 0px;
      margin-left: 30px;
    }

    .project {
      width: 32%;
    }

  }